server:
  session:
    timeout: -1
  servlet:
    session:
      cookie:
        name: SSO-OAUTH2-SERVER-SESSIONID
  ssl:
    key-store-type: PKCS12
    key-store: classpath:keys/auth-server.p12
    key-store-password: auth-server-pass
    enabled: true
    protocol: TLS
    enabled-protocols: TLSv1.2,TLSv1.3
    ciphers: ECDHE-ECDSA-AES256-GCM-SHA384,ECDHE-RSA-AES256-GCM-SHA384,ECDHE-ECDSA-CHACHA20-POLY1305,ECDHE-RSA-CHACHA20-POLY1305,ECDHE-ECDSA-AES128-GCM-SHA256,ECDHE-RSA-AES128-GCM-SHA256,ECDHE-ECDSA-AES256-SHA384,ECDHE-RSA-AES256-SHA384,ECDHE-ECDSA-AES128-SHA256,ECDHE-RSA-AES128-SHA256

spring:
  jpa:
    properties:
      hibernate.dialect: org.hibernate.dialect.PostgreSQLDialect
      hibernate.jdbc.time_zone: UTC
    hibernate:
      ddl-auto: none
  datasource:
    url: jdbc:postgresql://${spring.datasource.host}:${spring.datasource.port}/oauth2_server

security:
  token:
    key-store-path: classpath:keys/jwt.jks
    key-store-type: JKS
    key-store-password: password
    key-store-alias: jwt
    delete-older-than-secs: 604800
